body {
	margin: 20px;
}

canvas {
	top: 10px;
	left: 10px;
	border: 5px solid #c0c0c0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	display:inline-block;
	border: 1px solid #000;
	width: 30px;
	height: 30px;
}
